* {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    touch-action: none;
    -ms-touch-action: none;
    pointer-events: none;
}
html,
body {
    margin: 0;
    padding: 4px;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    color: black;
    overflow: hidden;
}
#up,
#brake,
#left,
#right,
#stop,
#horn,
#light,
#update,
#connect,
#log {
    position: absolute;
    border-radius: 16px;
    font-size: xx-large;
    font-weight: 900;
    color: black;
    background-color: lightgray;
    cursor: pointer;
    pointer-events: all;
}
#up,
#brake,
#left,
#right {
    width: 28%;
    height: 40%;
}
#up {
    top: 5%;
    left: 36%;
    border: 4px solid green;
}
#brake {
    bottom: 5%;
    left: 36%;
    border: 4px solid blue;
}
#left {
    top: 30%;
    left: 5%;
    border: 4px solid black;
}
#right {
    top: 30%;
    right: 5%;
    border: 4px solid black;
}
#horn,
#stop,
#light,
#connect,
#log,
#update {
    width: 12%;
    height: min(20vw, 20vh);
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#horn {
    top: 8%;
    right: 5%;
}
#light {
    top: 8%;
    right: 21%;
}
#stop {
    bottom: 5%;
    right: 5%;
    color: red;
    font-size: large;
}
#connect {
    top: 8%;
    left: 5%;
    border-width: 2px;
    width: auto;
    height: auto;
    padding: 20px;
    line-height: 20px;
    font-size: 20px;
}
#update {
    bottom: 8%;
    left: 5%;
    border-width: 2px;
    width: auto;
    height: auto;
    padding: 20px;
    line-height: 20px;
    font-size: 20px;
}
#log {
    bottom: 8%;
    left: calc(5% + 70px);
    border-width: 2px;
    width: auto;
    height: auto;
    padding: 20px;
    line-height: 20px;
    font-size: 20px;
}
.request,
.battery,
.controls {
    position: absolute;
    left: 4px;
    font-size: small;
    display: flex;
    flex-direction: column;
}
.request {
    top: 4px;
}
.battery {
    left: auto;
    right: 4px;
    flex-direction: row;
    gap: 4px;
}
.controls {
    bottom: 4px;
}
.controls_label {
    display: inline-block;
    width: 70px;
}
.crv {
    display: inline-block;
    padding-left: 8px;
}
