html,
body,
div,
span {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    touch-action: none;
    -ms-touch-action: none;
    pointer-events: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    color: black;
    overflow: hidden;
}

button {
    flex: 1;
    border-radius: 16px;
    font-size: xx-large;
    font-weight: 900;
    color: black;
    background-color: lightgray;
    cursor: pointer;
    pointer-events: all;
    border: 2px solid gray;
}

button:active {
    border-color: black;
}

.overlay_update,
.overlay_connect,
.overlay_download {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: xx-large;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: all;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1%;
}

.main > .header {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    font-size: 12px;
    align-items: center;
}

.main > .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    font-size: 12px;
    align-items: center;
}

.buttons {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4%;
}

.buttons > .top,
.buttons > .middle,
.buttons > .bottom {
    gap: 10%;
    display: flex;
    flex: 1;
    padding: 0 4%;
    justify-items: center;
}

.buttons > .middle {
    gap: 30%;
    margin: 0 10%;
    max-width: 100%;
}

.buttons > .top > .left,
.buttons > .top > .center,
.buttons > .top > .right {
    display: flex;
    flex: 1;
    gap: 4%;
}

.buttons > .bottom > .left,
.buttons > .bottom > .center,
.buttons > .bottom > .right {
    display: flex;
    flex: 1;
    gap: 4%;
}
